# Repo-specific ignores:
*.temp.d
*.log
application_staging/
bin/*
test_bin/*
Build/gcc/Objects
Build/gcc/Dependency_lists
Output/
orchestrate.sh
.orch_history

# Ignore .bak extensions created by winmerge
*.bak

# Ignore .orig extensions made by Meld
*.orig

# Default C++ gitignore content, from https://github.com/github/gitignore:

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
